@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
radial-gradient(circle at top left,#00e5ff22,transparent 25%),
radial-gradient(circle at bottom right,#00ff9522,transparent 25%),
linear-gradient(
135deg,
#081120,
#0b1730,
#111827
);

min-height:100vh;

padding:20px;

display:flex;
justify-content:center;
align-items:flex-start;

color:white;

}

.card{

width:100%;
max-width:550px;

margin-top:40px;

padding:30px;

border-radius:28px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,.08);

box-shadow:
0 0 35px rgba(0,229,255,.15);

}

h2{

text-align:center;

font-size:25px;

font-weight:700;

margin-bottom:30px;

color:#00e5ff;

text-shadow:
0 0 20px rgba(0,229,255,.5);

}

/* MENU */

#menu{

display:flex;

gap:15px;

margin-top:15px;

}

#menu button{

flex:1;

height:50px;

border:none;

border-radius:18px;

font-size:32px;

font-weight:600;

cursor:pointer;

transition:.3s;

color:white;

}

#menu button:hover{

transform:translateY(-3px);

}

#menu button:first-child{

background:
linear-gradient(
135deg,
#00c853,
#64dd17
);

box-shadow:
0 0 20px rgba(0,255,100,.3);

}

#menu button:last-child{

background:
linear-gradient(
135deg,
#ff1744,
#ff5252
);

box-shadow:
0 0 20px rgba(255,50,50,.3);

}

/* SCANNER */

#reader{

width:100%;

overflow:hidden;

border-radius:20px;

border:
2px solid #00e5ff;

box-shadow:
0 0 25px rgba(0,229,255,.3);

margin-top:15px;

}

/* FORM */

#nama{

font-size:26px;

font-weight:700;

color:#00e5ff;

margin-top:20px;

margin-bottom:15px;

text-align:center;

text-shadow:
0 0 15px rgba(0,229,255,.4);

}

#barcode,
#kategori,
#merk,
#stok,
#satuan{

padding:12px 15px;

margin-top:10px;

border-radius:12px;

background:
rgba(255,255,255,.05);

border:
1px solid rgba(255,255,255,.08);

font-size:14px;

}

#stok{

background:
rgba(0,255,149,.08);

border:
1px solid rgba(0,255,149,.2);

color:#00ff95;

font-weight:bold;

}

input{

width:100%;

padding:14px;

margin-top:15px;

border-radius:12px;

border:
1px solid rgba(255,255,255,.15);

background:
rgba(255,255,255,.05);

color:white;

font-size:16px;

outline:none;

}

input::placeholder{

color:#c0c0c0;

}

#form button{

width:100%;

margin-top:20px;

padding:15px;

border:none;

border-radius:15px;

font-size:17px;

font-weight:600;

cursor:pointer;

color:white;

background:
linear-gradient(
90deg,
#2196f3,
#00e5ff
);

box-shadow:
0 0 20px rgba(0,229,255,.25);

}

/* RESPONSIVE */

@media(max-width:600px){

#menu{

gap:10px;

}

#menu button{

font-size:15px;

height:90px;

}

h2{

font-size:28px;

}

}

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:#00e5ff;
border-radius:10px;
}

#loading{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
rgba(0,0,0,.8);

display:none;

justify-content:center;
align-items:center;
flex-direction:column;

z-index:9999;

}

.loader{

width:60px;
height:60px;

border:5px solid
rgba(255,255,255,.2);

border-top:5px solid
#00e5ff;

border-radius:50%;

animation:spin 1s linear infinite;

}

#loading p{

margin-top:15px;

font-size:18px;

color:white;

}

@keyframes spin{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}
